header {
    background-color: white;
    position: fixed;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    /* logo */
}
.logo {
    background: no-repeat url("../images/logo.png");
    width: 142%;
    height: 70px;

}