/* header override : font size doesn't trickle down to <h> tags */
.h1-container {
    display: flex;
    font-size: 30px;
    margin: 0%;
    margin-top: 20px;
    
}
/* places class */
.places {
    text-align: left;
    font-size: 30px;


}

/* Multiple "places"  */
div section article {
    width: 390px;
    margin: 20px;
    padding: 20px;

    border: #ff5a5f 1px solid;
    border-radius: 4px;
}

/* h2 positioning selectors*/
section article h2 {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

/* "multiple places" spacing class */
.div-section-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
